/* Note the Mobile Layout needs a lot of work - currently the desktop has been focused on */
/* Areas which need work
    -burger menu
    -nav 
    -sidebar (cant switch pages, as not mobile side-bar is implemented. Currently hidden)
    -graph (currently does not display well, so is hidden)
    -




*/
/* -------------------------------- Global Styles -------------------------------- */

#Sidebar {
  display: none;
}

#Sidebar a {
  text-decoration: none;
  color: #a4a6b3;
}

#Sidebar hr {
  color: #dfe0eb;
}

.selected {
  background: rgba(159, 162, 180, 0.08);
  border-left: 3px solid #dde2ff;
}

.selected span,
.selected i {
  color: #dde2ff !important;
}

#main_content_area {
  background-color: #f7f8fc;
}

header i {
  color: #c5c7cd;
}

.vertical-divider {
  width: 1px;
  height: 26px;
  background-color: #dfe0eb;
}

/* -------------------------------- Cards Styles -------------------------------- */
div.card {
  min-width: 160px;
}

.card-hover,
.card-hover .card-title {
  transition: all 0.3s ease;
}

.card-hover:hover {
  cursor: pointer;
  border: 1px solid #3751ff;
  color: #3751ff;
}

.card-hover:hover .card-title {
  color: #3751ff !important;
}

/* -------------------------------- Chart Styles -------------------------------- */
.custom-padding {
  padding: 20px;
}

/* -------------------------------- Tickets Styles -------------------------------- */

.list-group-item {
  font-weight: bold;
}

/* --------------------------------------------------------------------- Desktop Area ------------------------------------------------------------- */
/* Todos
        - Rework spacing to match figma
        - finish bottom card to match figma - add links, etc.
        -rework the graph to better resemble the figma graph



*/
@media only screen and (min-width: 650px) {
  /* Sidebar */
  #Sidebar {
    display: flex;
    background-color: #363740;
    max-width: 255px;
    min-height: 100vh;
  }

  /* top Nav */
  #username {
    font-size: small;
    color: #363740;
  }

  /* Cards */
  #Cards {
    flex-direction: row;
    align-items: flex-start;
    padding: 2%;
  }

  #bottom_tickets {
    padding: 2%;
    gap: 0;
  }
}
