/* 
  I focused heavily on using bootstrap classes and not rely too much on customized classes 
  But some things still need to be customized, so I left some of these classes
*/

/* -------------------------------- Sidebar -------------------------------- */

.sidebar-container {
  background-color: #363740;
}

#sidebar {
  background-color: #363740;
  width: 255px;
  min-height: 100vh;
}

#sidebar a {
  text-decoration: none;
  color: #a4a6b3;
}

#sidebar hr {
  color: #dfe0eb;
}

.menu-button {
  background-color: #363740;
}
.menu-button:hover i {
  color: #363740 !important;
}

.selected {
  background: rgba(159, 162, 180, 0.08);
  border-left: 3px solid #dde2ff;
}

.selected span,
.selected i {
  color: #dde2ff !important;
}

/* ------------------------------Body of the page----------------------------- */

#main_content_area {
  background-color: #f7f8fc;
  max-width: 1200px;
  margin: 0 auto;
}

header i {
  color: #c5c7cd;
}

.vertical-divider {
  width: 1px;
  height: 26px;
  background-color: #dfe0eb;
}

/* -------------------------------- Cards Styles -------------------------------- */
div.card {
  min-width: 160px;
}

.card-hover,
.card-hover .card-title {
  transition: all 0.3s ease;
}

.card-hover:hover {
  cursor: pointer;
  border: 1px solid #3751ff;
  color: #3751ff;
}

.card-hover:hover .card-title {
  color: #3751ff !important;
}

/* -------------------------------- Tickets Styles -------------------------------- */

.list-group-item {
  font-weight: bold;
}

/* I chose 768px as a breakpoint to match the `md` breakpoint measure used by bootstrap */
/* I was able to work on the responsiveness in most of the page using Bootstrap */
/* But I still needed to have the below css, because of custom values (like color and width) */
@media only screen and (min-width: 768px) {
  .sidebar-container {
    width: 255px;
  }

  /* top Nav */
  #username {
    font-size: small;
    color: #363740;
  }
}
